/* State Colors */

$color-info: blue;
$color-success: green;
$color-alert: yellow;
$color-warning: orange;
$color-danger: red;

/* Grayscale Colors */

$white: #FFF;
$gray-lightest: #FAFAFA;
$gray-lighter: #EEE;
$gray-light: #CCC;
$gray: #666;
$gray-dark: #444;
$gray-darker: #333;
$gray-darkest: #222;
$black: #000;

/* Color Instances */

$text-color: $gray-dark;
$link-color: $color-info;
$body-bg: $white;

/* Spacing */
/* Usage: 'margin', 'padding', 'top', 'right', ... */

$spacing-tiny: 8px;
$spacing-small: 16px;
$spacing-base: 24px;
$spacing-large: 48px;
$spacing-huge: 64px;

/* Shapes */
/* Usage: 'border-radius' */

$subtle-radius: 2px;
$medium-radius: 4px;
$no-radius: 0;
$full-radius: 50%;

/* Elevations */
/* Usage: 'box-shadow' */

$subtle-drop-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
$medium-drop-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
$long-drop-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
$distant-drop-shadow: 0 16px 16px rgba(0, 0, 0, 0.2);

$subtle-inner-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);

/* Typography */
/* Usage: 'font-family' */
$font-family: 'Raleway', Helvetica, Arial, sans-serif;
